<div flex layout="column" layout-align="top center">
    <md-toolbar class="md-tall md-primary">
    </md-toolbar>
    <div>
        <md-card class="estimation-card">
            <md-card-content>
                <div flex layout="row">
                    <div flex layout="column">
                        <h1>Estimation</h1>
                        <h4>Create a new estimation channel, or join to an existing one.</h4>
                        <div flex layout="row">
                            <md-button class="md-primary md-raised" ng-click="vm.createChannel()">
                                Create channel
                                <md-icon md-font-icon="fa-plus" class="fa"></md-icon>
                            </md-button>
                            <md-button class="md-primary md-raised" ng-click="vm.joinChannel()">
                                Join channel
                                <md-icon md-font-icon="fa-sign-in" class="fa"></md-icon>
                            </md-button>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <div class="donate">
        <div>Donate Bitcoin: 16H69zpF5tuRJt4RWWnMfZunPZVP2QTv2s</div>
        <div>Donate Ethereum: 0xbbc3feb3dab16dc5b206e3a0deeb9b21c0503058</div>
    </div>
</div>