@keyframes blink {
	0%   { opacity: .2; }
    20%  { opacity:  1; }
    100% { opacity: .2; }
}

.ticket.selected {
    background-color: rgba(158, 158, 158, 0.4);
}

.estimate-ticket-tab-content,
.estimated-tickets-tab-content {
	background: #f2f2f2;

	.current-ticket-footer {
		height: 50px;
		line-height: 48px;
		font-size: 16px;

		.current-ticket-text {
			padding: 0 6px;
			font-weight: bold;
		}
	}
}

.exportStoryPointsFab {
    position: absolute;
    top: 30px;
    right: 150px;
}

.result-container {
	perspective: 1000px;
	transform-style: preserve-3d;

	&.flip .card-container {
		.front {
			transform: rotateY(180deg);
		}

		.back {
			transform: rotateY(0deg);
		}
	}

	.card-container {
		height: 300px;
		margin: 10px;
		width: 200px;
		float: left;
		position: relative;

		&.selected-card .front,
		&.selected-card .back {
			box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 1);
		}
	}

	.front,
	.back {
		width: 100%;
		height: 100%;
		border-radius: 5px;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		backface-visibility: hidden;
		transition: 0s;
		transform-style: preserve-3d;
		position: absolute;
		top: 0;
		left: 0;

		&:hover {
			box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
		}

		.card-value {
			color: #f2f2f2;
			border-radius: 5px 5px 0 0;
			display: table;
			font-size: 72px;
			font-weight: bold;
			height: 80%;
			text-align: center;
            background-color: rgb(63,81,181);
			width: 100%;
		}
		
		.card-value > span {
			display: table-cell;
			vertical-align: middle;
		}

		.user-name {
			font-weight: bold;
			height: 20%;
			padding: 10% 0;
			text-align: center;
		}
	}

	.front {
		z-index: 2;
		transform: rotateY(0deg);
	}

	.back {
		transform: rotateY(-180deg);

		span {
			font-size: 72px;
		}
	}

    .dots {
        margin: 50px 0;

        span {
            animation-duration: 1.4s;
            animation-fill-mode: both;
            animation-iteration-count: infinite;
            animation-name: blink;

            &:nth-child(2) {
                animation-delay: .2s;
            }

            &:nth-child(3) {
                animation-delay: .4s;
            }
        }
    }
}

// Import tickets dialog

.import-tickets-dialog {
    width: 800px;

    .ticket-filter-container {
        padding: 20px 20px 0 20px;
    }
}

// Set story point dialog

.set-story-point-dialog {
    .sp {
        min-width: 52px;
        display: inline-block;
        padding: 12px;
        margin: 6px;
        text-align: center;
        box-sizing: border-box;
        color: white;
        font-size: 20px;
        background: #3f51b5;
        border: 2px solid transparent;
        border-radius: 16%;

        &:focus {
            outline: none;
        }

        &.selected {
            background: lighten(#3f51b5, 10%);
            border: 2px solid #3f51b5;
        }
    }
}